body {
  height: 100%;
  text-align: center;
  background: #FAF8EF;
}

header h1 {
  margin: 0;
  font-size: 64px;
}

header h1, header p {
  color: #776D65;
  cursor: default;
}

header p {
  font-size: 18px;
}

header p span {
  font-weight: 700;
}

.game-board {
  margin: 0 auto;
  width: 530px;
  height: 530px;
  border: 6px solid #BBADA0;
  background: #BBADA0;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-around;
  align-items: center;

}

.hide {
  opacity: 0;
}

.play-square {
  /* border: 1px solid rgb(0, 0, 0); */
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto;
  font-size: 200%;
  font-weight: 500;
  user-select: none;
  height: 121px;
  width: 121px;
  background: #CDC0B4;
  font-size: 56px;
  font-weight: 800;
  color: #F9F6F2;
}

.color2 {
  background: #EEE3DA;
  color: #776D65;
}

.color4 {
  background: #EDDFC8;
  color: #776D65;
}

.color8 {
  background: #F2B179;
}

.color16 {
  background: #F49563;
}

.color32 {
  background: #F67C5F;
}

.color64 {
  background: #F65E3B;
}

.color128 {
  background: #EDCF71;
  font-size: 48px;
}

.color256 {
  background: #EDCC61;
  font-size: 48px;
}
.color512 {
  background: #EDC750;
  font-size: 48px;
}
.color1024 {
  background: #EDC43E;
  font-size: 42px;
}
.color2048 {
  background: #EDC22D;
  font-size: 42px;
}

.color4069 {
  background: #3D3833;
  font-size: 42px
}

#reset-button {
  background-color: #8F7A66;
  color: #F9F6F2;
  font-size: 18px;
  font-weight: 800;
  padding: 10px 18px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#reset-button:active {
  opacity: .5;
}