.App {
  text-align: center;
}

.game-board {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  border: 2px dashed rgba(0, 0, 0, 0.272);

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr
}

.hide {
  /* opacity: 0; */
}

.play-square {
  border: 1px solid rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
  font-size: 200%;
  font-weight: 500;
  user-select: none;
  height: 121px;
  width: 121px;
}